.header {
  height: 12rem;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.navbar {
  display: flex;
  justify-content: space-between;
  --separate-height: 15px;
  --separate-color: #fff;
}

.navbar__list {
  list-style: none;
  display: flex;
}

.navbar__item {
  font-size: 1.4rem;
  color: var(--white-color);
  font-weight: 400;
  padding: 12px 8px;
  position: relative;
  line-height: 2rem;
}

.navbar__item:hover .navbar__qr,
.navbar__item:hover .notify {
  display: block;
  opacity: 1;
}
/* Header QR code */
.navbar__qr {
  display: none;
  position: absolute;
  top: 100%;
  width: 18rem;
  padding-top: 1rem;
  background-color: var(--white-color);
}

.navbar__qr__img {
  width: 100%;
}

.navbar__qr__app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.5rem 0.5rem;
}

.navbar__qr__app-link {
  margin-top: 0.5rem;
}

.navbar__qr__app__img {
  width: 7rem;
}

.navbar__item__user{
  padding: 8px;
  display: flex;
  position: relative;
}

.navbar__item__user:hover .navbar__item__settings{
  display: block;
}

.navbar__item__avatar-wrap{
  width: 28px;
  height: 28px;
  background-color: #ccc;
  border-radius: 50%;
}

.navbar__item__avatar{
  width: 28px;
  height: 28px;
  object-fit: cover;
  border: 1px solid;
  border-radius: 50%;
}

.navbar__item__user-name{
  padding-left: 8px;
  margin-top: 4px;
  
}

/* Navbar setting */
.navbar__item__settings{
  display: none;
  position: absolute;
  top: 90%;
  right: 0;
  background-color: #fff;
  width: fit-content;
  white-space: nowrap;
  padding-top: 4px;
  z-index: 3;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar__item__settings::before{
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: 28px;
  width: 0; 
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 10px solid #fff;
}

.setting__item{
  list-style: none;
  position: relative;
  padding: 4px 12px;
}

.setting__item:hover{
  background-color: #ccc;
}

.setting__item__link{
  text-decoration: none;
  color: var(--text-color);
}

.setting__item--exit{
  color: aqua;
}
/* Header QR code */
.navbar__item__text {
  padding-right: 8px;
}
.navbar__link {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.navbar__list > li:hover,
.navbar__link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__item--strong {
  font-weight: 700;
}

.navbar__item__icon-link {
  text-decoration: none;
  color: var(--white-color);
  padding: 0px 4px;
}

/* Header Notifycation */
.notify {
  --fadeIn-from: 0;
  --fadeIn-to: 1;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--white-color);
  width: 400px;
  border: 1px solid #ccc;
  cursor: default;
  display: none;
  transform-origin: 90% top;
  animation: growth ease-in 0.2s;
  will-change: opacity, transform;
  z-index: 3;
}

.notify::before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: 25px;
  width: 0px;
  height: 0px;
  border-bottom: 7px solid var(--white-color);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.notify__header,
.notify__footer {
  color: var(--text-color);
  padding: 12px;
  opacity: 0.8;
}

.notify__list {
  list-style: none;
}

.notify__list__item {
  padding: 8px;
  background-color: #ffe4c4;
}

.notify__list__item:hover {
  background-color: #ccc;
}

.notify__list__item__link {
  display: flex;
  text-decoration: none;
}

.notify__list__item__link img {
  width: 6rem;
  margin-right: 8px;
  object-fit: cover;
}

.notify__list__item__text {
  font-size: 1.3rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.notify__list__item__text-info {
  color: var(--black-color);
  text-transform: uppercase;
  flex-grow: 2;
}

.notify__list__item__text-desc {
  color: rgba(0, 0, 0, 0.5);
  flex-grow: 1;
}

.notify__footer__btn {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  display: block;
  width: 100%;
  text-align: center;
}

.notify__footer__btn:hover {
  opacity: 0.8;
}
/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
  --fadeIn-from: 0.7;
  --fadeIn-to: 1;
  background-color: #fff;
  margin: auto;
  border-radius: 3px;
  z-index: 3;
  max-width: 500px;
  min-width: 500px;
  animation: growth linear 0.25s;
}

.auth {
  padding: 16px 24px;
}

.auth__header {
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  padding: 16px 8px;
}

.auth__heading {
  color: var(--text-color);
}

.auth__switch-btn {
  color: #f53e2d;
  cursor: pointer;
  font-weight: 700;
}

.auth__form {
  padding: 16px 0;
}

.auth__form__group {
  display: flex;
  margin: 8px 0;
}

.auth__form__input {
  width: 100%;
  padding: 8px;
}

.auth__form__input::placeholder {
  color: var(--black-color);
  opacity: 0.8;
}
.auth__form__input__btn {
  padding: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 2px;
}

.auth__form__input__btn:hover {
  cursor: pointer;
  background-color: #ccc;
}
.auth__policy {
  font-size: 1.3rem;
  padding: 0 12px;
  padding-bottom: 32px;
}

/* Login form CSS */
.auth__help {
  display: flex;
  justify-content: flex-end;
  padding: 12px 0;
  margin-bottom: 64px;
}

.auth__policy__text,
.auth__help__text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.auth__policy__link,
.auth__help__link {
  text-decoration: none;
  color: #f53e2d;
}

.auth__help__link + .auth__help__link {
  padding-left: 24px;
}

.auth__help__link:last-child {
  color: rgba(0, 0, 0, 0.6);
}

.auth__policy__link:hover {
  opacity: 0.8;
}

.auth__button {
  margin: 16px 0;
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.auth__contact {
  background-color: rgb(247, 230, 230);
  padding: 12px 24px;
  display: flex;
}

.auth__contact--sms {
  background-color: green;
  color: #fff;
}

.auth__contact--facebook {
  color: #fff;
  background-color: #0d497b;
}

.auth__contact--google {
  background-color: #fff;
  color: var(--text-color);
}

.auth__contact__btn--icon + .auth__contact__btn--icon {
  margin-left: 8px;
}

.auth__contact__btn--icon {
  flex-grow: 1;
  padding: 8px 0;
  border: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
  min-width: 152px;
}

.auth__contact__btn--icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.auth__contact__text {
  flex-grow: 1;
}

.auth__contact__icon {
  font-size: 2.5rem;
  padding-left: 8px;
}

.auth__contact__icon--color {
  color: #fff;
}

.header__search__bar {
  height: var(--search-bar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.header__icon {
  padding-right: 16px;
}

.header__icon__link {
  display: block;
}

.header__icon__logo {
  width: 152px;
  height: 50px;
  fill: var(--white-color);
}

.header__search {
  flex-grow: 1;
  margin: 0 0 0 16px;
  height: 40px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

/* Header search input */

.header__search__group {
  flex-grow: 1;
  position: relative;
  --separate-height: 60%;
  --separate-color: #ccc;
  height: 100%;
}

.header__search__input {
  width: 100%;
  border: none;
  padding: 12px;
  outline: none;
  border-radius: 2px;
  height: 100%;
}

.header__search__input:focus ~ .header__search__history {
  display: block;
}

.header__search__history {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 90%;
  top: calc(100% + 3px);
  border-radius: 1px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  padding: 8px 8px;
}

.history__header {
  padding-bottom: 8px;
  color: #ccc;
  font-size: 1.25rem;
  position: relative;
  cursor: default;
}

.history__list {
  list-style: none;
}

.history__list__item {
  padding-top: 12px;
}

.history__list__item__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
}

.history__list__item__link:hover {
  opacity: 0.8;
}

.header__search__input::placeholder {
  color: var(--black-color);
}

/* Header search option */
.header__search__option {
  padding: 0 16px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__search__option:hover {
  cursor: pointer;
}

.header__search__option:hover .header__search__option__list {
  display: block;
}
.header__search__option__text {
  font-size: 1.3rem;
  margin-right: 12px;
}

.header__search__option__list {
  display: none;
  position: absolute;
  background-color: #fff;
  top: calc(100% + 3px);
  right: 0;
  border-radius: 2px;
  width: var(--search-option-list-width);
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
}

.option__list__item {
  position: relative;
  list-style: none;
  font-size: 1.3rem;
  padding: 12px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
}

.option__list__item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.option__list__item__link {
  text-decoration: none;
  color: var(--black-color);
}

.option__list__item__icon {
  margin-left: 12px;
  display: inline-block;
  color: #fe6433;
}

.header__search__btn {
  background-color: #f53e2d;
  border: none;
  border-radius: 2px;
  color: #fff;
  margin-right: 4px;
  font-size: 1.5rem;
}

.header__search__btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn--s {
  height: 34px;
  padding: 0 15px;
  min-width: 60px;
}

/* Header shopping */
.header__shopping {
  padding: 0 64px;
  position: relative;
  height: 100%;
}

.header__shopping:hover .header__shopping__list--status {
  display: block;
}
.header__shopping__link {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__shopping__icon {
  font-size: 2rem;
  color: var(--white-color);
}

.header__shopping__number {
  position: absolute;
  top: 0;
  right: 35%;
  color: #fe6433;
  background-color: var(--white-color);
  padding: 1px 6px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 700;
  border: 1px solid #fe6433;
}

.header__shopping__list--status {
  display: none;
  position: absolute;
  background-color: #fff;
  top: calc(100% + 3px);
  right: 30%;
  width: 250%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.header__shopping__list--status::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  right: 0;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
  border-bottom: 16px solid var(--white-color);
}

.header__shopping--no-cart {
  width: 60%;
  margin: auto;
  display: none;
}

.no__cart__img {
  width: 100%;
  object-fit: cover;
}

.no__cart__text {
  padding: 8px 0 24px 0;
  font-size: 1.3rem;
  text-align: center;
}
/* Cart list */
.header__shopping--have-cart-list {
  padding: 12px 0;
  /* display: none; */
}

.cart__list__header {
  position: relative;
  font-size: 1.6rem;
  color: rgb(177, 171, 171);
  padding: 0 8px;
  padding-bottom: 12px;
}

.cart__list {
  padding-bottom: 12px;
}

.cart__list__item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 12px;
}

.cart__list__item:hover {
  background-color: rgba(170, 163, 163, 0.2);
}

.cart__list__item__wrap-img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.cart__list__item__image {
  width: 100%;
  object-fit: fill;
}

.cart__list__item__info {
  height: 100%;
  flex-grow: 1;
}

.cart__list__item__name {
  font-size: 1.3rem;
  padding-bottom: 8px;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cart__list__item__type {
  font-size: 1.1rem;
  color: rgb(142, 142, 142);
}

.cart__list__item__footer {
  font-size: 1.3rem;
  font-weight: 700;
}

.cart__list__item__price {
  padding-bottom: 6px;
}

.item__cost {
  color: #f53e2d;
}

.item__operator {
  font-size: 1rem;
  font-weight: 400;
}

.item__count {
  font-size: 1rem;
  font-weight: 400;
}

.cart__list__item__delete {
  float: right;
}

.cart__list__item__delete:hover {
  color: #f53e2d;
  cursor: pointer;
}
.cart__list__button {
  float: right;
  margin: 12px 12px;
  width: 150px;
  padding: 8px 16px;
}


/* Body css */
.body{
  background-color: rgb(229, 223, 223);
  padding-top: 28px;
  height: 100vh;
}

.list__products{
  background-color: #fff;

  border-radius: 2px;
}

.list__products__header{
  position: relative;
  padding: 16px;
  font-size: 1.5rem;
}

.list__products__header__icon{
  margin-right: 8px;
}

.list__products__header__text{
  font-weight: 700;
}

.list__product__type{
  padding: 12px;
  font-size: 1.3rem;
  font-weight: 500;
  
}



.list__product__item{
  position: relative;
  list-style: none;
  padding: 6px 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} 

.arrow-right{
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 0;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left: 6px solid #ee4d2d;
  display: none;
}

.list__product__item:hover{
  overflow: visible;
  white-space: normal;
  cursor: pointer;
  display: block;
}

.list__product__item:hover .arrow-right{
  display: block;
}
.list__product__item__link{
  text-decoration: none;
  color: #000;
  line-height: 1.6rem;
}

/* Home fillter */
.home__fillter{
  width: 100%;
  background-color: #ccc;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.home__sort__text{
  font-size: 1.4rem;
  padding-right: 12px;
}

.home__sort__btn{
  min-width: 100px;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: initial;
}

.home__sort__btn + .home__sort__btn{
  margin-left: 8px;
}

.home__sort__price{
  position: relative;
  display: inline-flex;
  background-color: #fff;
  width: 240px;
  font-size: 1.5rem;
}

.home__sort__price__icon{
  float: right;
}

.home__sort__price__list{
  position: absolute;
  top: 0;
  right: 0;
}

.home__sort__price__item{

}

.home__num__page{

}

.home__num__page__text{
  display: inline-block;

}

.current__page{

}

.home__num__page__back{

}

.home__num__page__next{

}

